/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/keys.h>

#define QWERTY_L 0
#define DVORAK_L 1
#define COLEMK_L 2
#define MAC_Q_L  3
#define SYM_L    4
#define NUM_L    5
#define ADJ_L    6
#define Undo   LC(Z)
#define Cut    LC(X)
#define Copy   LC(C)
#define Paste  LC(V)

/ {
    keymap {
        compatible = "zmk,keymap";

        mac {
            bindings = <
&kp TAB    &kp Q  &kp W             &kp E  &kp R  &kp T                                                                &kp Y  &kp U  &kp I      &kp O    &kp P      &kp NON_US_BACKSLASH
&kp GRAVE  &kp A  &kp S             &kp D  &kp F  &kp G                                                                &kp H  &kp J  &kp K      &kp L    &kp SEMI   &kp SQT
&kp LSHFT  &kp Z  &kp X             &kp C  &kp V  &kp B      &kp ESCAPE                                     &kp ESC    &kp N  &kp M  &kp COMMA  &kp DOT  &kp SLASH  &kp RSHFT
                  &kp LEFT_CONTROL         &mo 2  &kp SPACE  &kp BACKSPACE  &kp LEFT_COMMAND  &kt LEFT_ALT  &kp ENTER  &mo 3  &mo 4             &to 1
            >;
        };

        windows {
            bindings = <
&trans  &trans  &trans        &trans  &trans  &trans                                            &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans        &trans  &trans  &trans                                            &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans        &trans  &trans  &trans  &trans                            &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &kp LEFT_WIN          &trans  &trans  &trans  &kp LEFT_CONTROL  &trans  &trans  &trans  &trans          &to 0
            >;
        };

        num_layer {
            /* NUM
 * -------------------------------------------------------------------------------------------------------------------------------------
 * | F1    |  F2   | Home  |  Up   |  End  |  F9   |-----------------------------------|   /   |   7   |   8   |   9   |   -   | BSPC  |
 * | F3    |  F4   | Left  | Down  | Right |  F10  |-----------------------------------|   *   |   4   |   5   |   6   |   +   | ENTER |
 * | Shift |  F5   |  F6   |  F7   |  F8   |  F11  |  F12  |-------------------| MUTE  |   ,   |   1   |   2   |   3   |   =   | DELETE|
 * ----------------|       |-------|       |       |       | ADJ_L |---|       |       |   0   |       |-------|Play/P |----------------
 */

            bindings = <
&kp F9     &kp F10  &trans    &kp UP    &kp LBKT   &kp RBKT                                       &kp N7  &kp N8  &kp N9  &kp F7  &kp F8  &kp MINUS
&kp F11    &kp F12  &kp LEFT  &kp DOWN  &kp RIGHT  &kp LBKT                                       &kp N4  &kp N5  &kp N6  &kp F4  &kp F5  &kp F6
&kp LSHFT  &kp F12  &trans    &trans    &trans     &kp EQUAL  &kp LBKT                  &kp RBKT  &kp N1  &kp N2  &kp N3  &kp F1  &kp F2  &kp F3
                    &trans              &trans     &trans     &trans    &trans  &trans  &trans    &kp N0  &kp N0          &mo 4
            >;
        };

        sym_layer {
            /* SYM
 * -------------------------------------------------------------------------------------------------------------------------------------
 * | HOME  |   !   |   @   |   #   |   $   |   %   |-----------------------------------|   ^   |   &   |   *   |   (   |   )   | BSPC  |
 * | END   |  GUI  |  Alt  | Ctrl  | Shift | Pg Up |-----------------------------------|   -   |   =   |   [   |   ]   |   \   | ENTER |
 * | Shift |  UnDo |  Cut  | Copy  | Paste | Pg Dn |OsAltGr|-------------------| MENU  |   _   |   +   |   {   |   }   |   |   | SHIFT |
 * ----------------|       |-------|       |       |       |       |---| ADJ_L |       |       |       |-------| CTRL  |----------------
 */

            bindings = <
&trans          &kp N1    &kp N2    &kp N3     &kp N4     &kp N5                                              &kp N6     &kp N7     &kp N8    &kp N9    &kp N0    &kp MINUS
&trans          &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &kp PG_UP                                           &kp MINUS  &kp EQUAL  &kp LBKT  &kp RBKT  &kp BSLH  &kp HOME
&kp LEFT_SHIFT  &trans    &trans    &trans     &trans     &kp PG_DN  &sk LEFT_ALT                  &kp K_APP  &kp UNDER  &kp PLUS   &kp LBRC  &kp RBRC  &kp PIPE  &kp END
                          &trans               &trans     &trans     &trans        &trans  &trans  &trans     &trans     &trans               &mo 4
            >;
        };

        adj_layer {
            /* ADJUST
 * ----------------------------------------------------------------------------------------------------------------------------------------
 * |MAC_QWERTY| QWERTY| DVORAK| COLEMK| NUM   |       |-----------------------------------|       |Prt Scr|       | EP_OFF| EP_ON |       |
 * |          | BT 0  | BT 1  | BT 2  | BT 3  | BT 4  |-----------------------------------|       |       |       |       |       |       |
 * |   BOOTL  | RESET |       |OUT_USB|OUT_BLE|       |BT CLR |-------------------|       |       |       |       |       |       | SHIFT |
 * -------------------|       |-------|       |       |       |       |---|       |       |       |       |-------| CTRL  |----------------
 */

            bindings = <
&to 0  &to 0         &to 0         &to 0         &none         &none                                                         &sys_reset  &bootloader  &none  &none  &none  &none
&none  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                                                  &none       &none        &none  &none  &none  &none
&none  &none         &none         &none         &none         &none         &bt BT_PRV                          &bt BT_NXT  &none       &none        &none  &none  &none  &none
                     &none                       &none         &none         &none       &bt BT_PRV  &bt BT_NXT  &none       &none       &none               &to 0
            >;
        };
    };
};
